body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  border:1px solid #a6a6a6;
  padding:10px 25px;
  border-radius: 10px;
  background-color: #85EA2D;
  color: white;
}
a:hover{
  animation: 0.3s;
  background-color: #57ea00;
  color: white;
}
img{
  width: 40%;
}
